@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
    Layout = "_MainLayout";
}
<div class="mb-5">
    <h1 class="display-4">Welcome</h1>
    <p>ASP.NET Core Identity Cookie based application</p>
</div>

<div class="card shadow p-3 mb-5 rounded">
    <div class="card-body">
        <p>
            <h5>Hello,</h5>
            you've successfully installed the application. Feel free to customize this startpage (/Views/Home/index.cshtml). <br><br>
            Or you can add new Datamodels and views to build your own application.
        </p>
    </div>
</div>