@using DatatableJS;
@inject IViewLocalizer L
@inject IConfiguration _conf
@{
    ViewData["Title"] = "Error Logs";
}
<link rel="stylesheet" href="~/assets/extensions/toastify-js/src/toastify.css">
<link rel="stylesheet" href="~/assets/css/pages/toastify.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

<style>
     pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f5023c;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

</style>

<div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>@L["1"]</h3>
                <p class="text-subtitle text-muted">@L["2"] </p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Logs / Application Logs</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

<div class="card card shadow p-3 mb-5 rounded">
    <div class="card-body">
        @{
            var langRes = "/assets/extensions/dataTablesjs-1.12.1/english.json";
            var culture = System.Globalization.CultureInfo.CurrentCulture;
            if(culture.ToString().ToLower()=="de") {
                langRes = "/assets/extensions/dataTablesjs-1.12.1/german.json";
            } 
        }
        @if (_conf.GetSection("AppSettings").GetSection("DataBaseType").Value=="SqLite") {
            @(Html.JS().Datatable<AppLogsSqLite>()
                .Name("AppLogsGrid")
                .Selecting(true)
                .Class("table table-striped")
                .Language("" + @langRes + "")
                .Columns(cols =>
                {
                    cols.Field(a => a.id).Visible(true).Orderable(true);
                    cols.Field(a => a.Timestamp).Orderable(true).Title("Date").Format("YYYY.MM.DD - hh:mm:ss");
                    cols.Field(a => a.Level).Orderable(true).Title("Level").Template("(data=='Error') ? '<i class=\"bi bi-info-circle-fill text-danger\"></i>' : '<i class=\"bi bi-info-circle-fill text-warning\"></i>'");
                    cols.Field(a => a.RenderedMessage).Orderable(true).Title("Message");
                    cols.Field(a => a.Exception).Title("Exception").Template("(data!=null) ? '<a class=\"btn btn-primary btn-sm\" data-excId=\"' + data.id + '\" data-trace=\"' + row.Exception + '\" data-bs-toggle=\"modal\" data-bs-target=\"#stackTrace\" >view StackTrace</a>' : ''");
                })
                .URL(Url.Action("GetErrorLogs", "Admin"), "POST")
                .ServerSide(true)
                .Orders(order => {
                    order.Add(p => p.id, OrderBy.Descending);
                })
                .Render()
            )
        } else {
            @(Html.JS().Datatable<AppLogs>()
                .Name("AppLogsGrid")
                .Selecting(true)
                .Class("table table-striped")
                .Language("" + @langRes + "")
                .Columns(cols =>
                {
                    cols.Field(a => a.id).Visible(true).Orderable(true);
                    cols.Field(a => a.Timestamp).Orderable(true).Title("Date").Format("YYYY.MM.DD - hh:mm:ss");
                    cols.Field(a => a.Level).Orderable(true).Title("Level").Template("(data=='Error') ? '<i class=\"bi bi-info-circle-fill text-danger\"></i>' : '<i class=\"bi bi-info-circle-fill text-warning\"></i>'");
                    cols.Field(a => a.Message).Orderable(true).Title("Message");
                    cols.Field(a => a.Exception).Title("Exception").Template("(data!=null) ? '<a class=\"btn btn-primary btn-sm\" data-excId=\"' + data.id + '\" data-trace=\"' + row.Exception + '\" data-bs-toggle=\"modal\" data-bs-target=\"#stackTrace\" >view StackTrace</a>' : ''");
                })
                .URL(Url.Action("GetErrorLogs", "Admin"), "POST")
                .ServerSide(true)
                .Orders(order => {
                    order.Add(p => p.id, OrderBy.Descending);
                })
                .Render()
            ) 
        }               
    </div>
</div>

<!--Modal dialog for stacktrace edit -->
<div class="modal modal-xl fade text-left" id="stackTrace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel120">Exception Details
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="text-light" data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>       
        </div>
    </div>
</div>
<!-- End modal dialog for stacktrace edit -->


@section scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/extensions/toastify-js/src/toastify.js"></script>    
    <script src="~/assets/js/extensions/moment-with-locales.min.js"></script>

    <script>
        $('#stackTrace').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var excId = button.attr('data-excId'); // Extract info from data-* attributes
            var cont = button.attr('data-trace');
            var errCont = '<pre>' + cont + '</pre>';
            var modal = $(this);
            modal.find('.modal-body').html(errCont);
        });
    </script>
}