@model ChangePasswordViewModel
@inject IViewLocalizer L
@{
    ViewData["Title"] = "Change Password";
    Layout = "_AuthLayout";
}

<div class="auth-logo">
    <a href="index.html"><img src="~/assets/images/logo/ylogo_colored.png" alt="Logo" style="height:3.5rem !important;"></a>
</div>
<h1 class="auth-title">@L["1"]</h1>
<p class="auth-subtitle mb-5">@L["2"]</p>
<form asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Password"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;@L["3"]</label>
        <input asp-for="Password" class="form-control form-control-xl" type="password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;@L["4"]</label>
        <input asp-for="NewPassword" class="form-control form-control-xl" type="password" />
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPasswordConfirm"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;@L["5"]</label>
        <input asp-for="NewPasswordConfirm" class="form-control form-control-xl" type="password" />
        <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
    </div>


    <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">@L["6"]</button>
</form>

<div class="text-center mt-5 text-lg fs-4">
    <a class="font-bold" href="/">@L["7"]</a></p>
</div>