@model ResetPasswordViewModel
@inject IViewLocalizer L
@{
    ViewData["Title"] = "Forgot password";
    Layout = "_AuthLayout";
}
<div class="auth-logo">
    <a href="index.html"><img src="~/assets/images/logo/ylogo_colored.png" alt="Logo" style="height:3.5rem !important;"></a>
</div>
<h1 class="auth-title">@L["1"]</h1>
<p class="auth-subtitle mb-5">@L["2"]</p>

<form asp-action="ResetPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="UserId" type="hidden" />
    <input asp-for="Token" type="hidden" />

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">@L["3"]</button>

</form>